name: Update YML feed

on:
  schedule:
    - cron: "0 */6 * * *"   # каждые 6 часов
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Generate YML feed
        run: python main.py

      - name: Commit and push feed.yml
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add feed.yml
          git commit -m "Update feed.yml" || echo "No changes"
          git push
